*{
    margin: 0;
    padding: 0;
}
.keyBoard{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    font-size: 17px;
    width: 100vw;
    height: 50vh;
    top: 50vh;
    position: relative;
    text-align: center;
}
.key {
    width: 50px;
    height: 30px;
    border: 1px solid black;
    padding: 10px 20px;
    display: inline-block;
}
.z {
    grid-column: 3;
}
.space{
    grid-column: 5;
    width: 100px;
}
.subkey{
    transform: translate(-50%);
    left: 50%;
    position: absolute;
    bottom: 0;
}